<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"></head>
<body>

<h2>{{ text }}</h2>

<table style="border-collapse: collapse; width: 40%;">
    <tbody>
        <tr>
            <td style="border: 1px solid black;">Meno a Priezvisko / Name and Surname</td>
            <td style="border: 1px solid black;">{{ reservation.name_surname }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Email</td>
            <td style="border: 1px solid black;">{{ reservation.email }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Tel. Č / Phone</td>
            <td style="border: 1px solid black;">{{ reservation.phone_number }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Dátum / Date</td>
            <td style="border: 1px solid black;">{{ reservation.date }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Slot</td>
            <td style="border: 1px solid black;">{{ reservation.slot }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Vytvorené / Created</td>
            <td style="border: 1px solid black;">{{ reservation.created_at }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Poznámka / Note</td>
            <td style="border: 1px solid black;">{{ reservation.special_request }}</td>
        </tr>
    </tbody>
</table>

{% if button %}
    <br>
    <table role="presentation" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <a href="{{ accept_link }}" style="display: inline-block; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; background-color: #28a745; border-radius: 5px; text-decoration: none;">Schváliť rezerváciu</a>
                <a href="{{ all_reservations_link }}" style="display: inline-block; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; color: #ffffff; background-color: #28a745; border-radius: 5px; text-decoration: none;">Pozrieť rezervácie</a>
            </td>
        </tr>
    </table>
{% endif %}

</body>
</html>