{% load i18n %}
{% load static %}
{% load language_switch %}

<nav class="navbar">
    <div class="navbar-content">
        <div>
          <img class="logo-image" onclick="smoothScroll('about-us')" src="{% static 'images/logo1.png' %}" alt="fasdf">
        </div>
        <div class="nav-links">
          <a href="#" class="navbar-button" onclick="smoothScroll('technique')">{% trans 'Techniky' %}</a>
          <a href="#" class="navbar-button" onclick="smoothScroll('gallery')">{% trans 'Galéria' %}</a>
          <a href="#" class="navbar-button" onclick="smoothScroll('poukazka')">{% trans 'Poukážky' %}</a>
          <a href="https://masaze-salon-amina.reservio.com/?fbclid=IwAR3uwNP8s9vwK1yGT5q_tfWm40gzu7BY9kwhFdspp4zvDSwfOlC5jiVZfCo" class="navbar-button"><i class="fa-solid fa-calendar-circle-plus"></i> {% trans 'Rezervácia/Cenník' %}</a>
          <a href="#" class="navbar-button" onclick="smoothScroll('spolupraca')">{% trans 'Firmy' %}</a>
          <a href="#" class="navbar-button" onclick="smoothScroll('contact')">{% trans 'Kontakt' %}</a>
        </div>
        <div class="nav-contact">
          <div class="social-icons">
            <a href="https://www.instagram.com/masazevlcince/" target="_blank"><i class="fab fa-instagram" title="Instagram"></i></a>
          </div>
          <div class="social-icons">
            <a href="https://www.facebook.com/salonAminaSK" target="_blank"><i class="fa-brands fa-square-facebook" title="Facebook"></i></a>
          </div>
        </div>
        <div class="navbar-language-button">
        {% if language_code == 'en' %}
            <button class="switch-language-button"><img src="{% static 'images/united-kingdom.png' %}" alt="" title="{% trans 'Prepnúť jazyk' %}"></button>
        {% else %}
            <button class="switch-language-button"><img src="{% static 'images/slovakia.png' %}" alt="" title="{% trans 'Prepnúť jazyk' %}"></button>
        {% endif %}
            <div class="dropdown" id="dropdown-menu-languages">
                {% if language_code == 'en' %}
                    <button class="switch-language-button dropdown-item" onclick="switchLanguage('sk')"><img src="{% static 'images/slovakia.png' %}" alt="" title="{% trans 'Slovenčina' %}"></button>
                {% else %}
                    <button class="switch-language-button dropdown-item" onclick="switchLanguage('en')"><img src="{% static 'images/united-kingdom.png' %}" alt="" title="{% trans 'Angličtina' %}"></button>
                {% endif %}
            </div>
        </div>
    {% if request.user.is_authenticated %}
        <div class="navbar-user-info">
            <b>{{ user.email }} <i class="fa-duotone fa-user avatar-user-icon" id="avatar-user-icon"></i></b>
            <div style="background-color: white;" class="dropdown" id="dropdown-menu">
                {% if user.is_superuser %}
                    <a class="dropdown-link" href="{% url 'settings_view' %}">{% trans 'Nastavenia' %}</a>
                    <a class="dropdown-link" href="{% url 'admin:index' %}viewer/reservation/">{% trans 'Prehľad rezervácií' %}</a>
                    <a class="dropdown-link" href="#" onclick="logoutConfirmation()"><i class="fas fa-sign-out-alt"></i> {% trans 'Odhlásiť sa' %}</a>
                {% else %}
                    <a class="dropdown-link" href="{% url 'profile' email=user.email %}">{% trans 'Môj profil' %}</a>
                    <a class="dropdown-link" href="#" onclick="logoutConfirmation()"><i class="fas fa-sign-out-alt"></i> {% trans 'Odhlásiť sa' %}</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="navbar-user-info">
            <b><i class="fa-duotone fa-user avatar-user-icon" id="avatar-user-icon"></i></b>
                <div style="background-color: white; border:" class="dropdown" id="dropdown-menu">
                    <a class="dropdown-link" href="#" onclick="login()"><i class="fa-duotone fa-right-to-bracket"></i> {% trans 'Prihlásiť sa' %}</a>
                    <a class="dropdown-link" href="#" onclick="registration()"><i class="fa-duotone fa-user-plus"></i> {% trans 'Registrácia' %}</a>
                </div>
        </div>
    {% endif %}
    </div>
</nav>
