<nav class="navbar">
    <div class="nav-links">
      <a href="#" class="navbar-button" onclick="smoothScroll('prices')">Cenník</a>
      <a href="#" class="navbar-button" onclick="smoothScroll('gallery')">Galéria</a>
      <a href="#" class="navbar-button" onclick="smoothScroll('contact')">Kontakt</a>
    </div>
    <div>
      <img src="static/romko.jpg" alt="fasdf">
    </div>
    <div class="nav-contact">
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
</nav>