{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <title>{% trans 'Profil' %}</title>
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="top-margin-reservation"></div>

    <div class="table-container-profile">
        <h2 style="margin-left: 15px;">{% trans 'Moje rezervácie' %}</h2>
        <table class="table-profile">
            <thead>
                <tr>
                    <th>{% trans 'Meno' %}</th>
                    <th>{% trans 'Tel. č.' %}</th>
                    <th>{% trans 'Dátum' %}</th>
                    <th>{% trans 'Čas' %}</th>
                    <th>{% trans 'Masér' %}</th>
                    <th>{% trans 'Stav' %}</th>
                    <th>{% trans 'Poznámka' %}</th>
                    <th>{% trans 'Vytvorené' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservation_data %}
                    <tr>
                        <td>{{reservation.name_surname}}</td>
                        <td>{{reservation.phone_number}}</td>
                        <td>{{reservation.date}}</td>
                        <td>{{reservation.time}}</td>
                        <td>{{reservation.worker}}</td>
                        <td>{{reservation.status}}</td>
                        <td>{{reservation.special_request}}</td>
                        <td>{{reservation.created_at}}</td>
                        <td>
                            {% if not reservation.is_past %}
                                <button class="deactivate-btn" onclick="deactivate('{{ reservation.id }}')">{% trans 'Zrušiť' %}</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scripts/profile.js' %}"></script>
{% endblock %}