{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <title>{% trans 'Rezervácia' %}</title>
{% endblock %}

{% block content %}

    <style>
        #calendar {
            width: 60%;
            height: 450px;
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
        }
        .fc-header-toolbar { /* Target the entire header toolbar */
          font-size: 0.8rem; /* Reduce font size */
        }

        .fc-left button, .fc-right button { /* Target buttons on left and right */
          padding: 5px 8px; /* Reduce button padding */
        }

        .fc-daygrid-day { /* Target the day cell class */
          font-size: 15px !important; /* Adjust font size as needed */
        }

        .fc-daygrid-day {
            transition: 0.2s;
        }

        .fc-day:hover {
            cursor: pointer;
        }

        .fc-day-past:hover {
            cursor: not-allowed;
        }

        .custom-day-class {
            background-color: #bebebe;
        }

        .fc-col-header-cell {
            background-color: white;
        }

        .custom-day-class:hover {
            cursor: not-allowed;
        }

        .fc-col-header-cell {
            font-size: 15px;
        }

        .fc-daygrid-day-number {
          margin: auto;
          font-size: 18px;
        }

        .fc-daygrid-day-frame {
            height: 50px;
        }

        {% if not request.user.is_superuser %}
        .fc-daygrid-day.fc-day-today {
            background-color: #bebebe !important;
        }
        {% endif %}

        .swal2-user-select-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
            gap: 5px; /* Adds spacing between items */
            max-height: 65vh; /* Optional: sets a max height */
            overflow-y: auto;  /* Allows scrolling if there are too many items */
        }

        @media screen and (max-width: 500px) {
            #calendar {
                width: 105%;
                height: 450px;
                border: 1px solid black;
                padding: 10px;
                margin-bottom: 10px;
            }

            .swal2-user-select-list {
                display: flex;
                flex-direction: column;
                gap: 2px;
                font-size: 12px;
            }
       }

    </style>

    {% include 'navbar.html' %}
    <div class="top-margin-reservation"></div>

    <div class="column-container">
        <h1>{% trans 'Rezervácia' %}</h1>

        <div class="reservation-box-container">
            <div id="reservation-box-container" class="column-container">
                <h2 class="h2-margin-top-bottom">{% trans 'Vyberte si maséra' %}:</h2>
                <div id="person-selection" class="row-container" style="gap: 50px; margin-top: 0px;">
                    <div>
                        <div id="Roman" class="big-button option-button-person" style="border-radius: 50%;" onclick="updateEvents('Roman')">
                            <img title="Roman" class="miniature-img" src="{% static 'images/roman-mini.jpg' %}">
                        </div>
                        <h3 style="text-align: center;">Roman</h3>
                    </div>
                    <div>
                        <div id="Evka" class="big-button option-button-person" style="border-radius: 50%;" onclick="updateEvents('Evka')">
                            <img title="Evka" class="miniature-img" src="{% static 'images/evka-mini.jpg' %}">
                        </div>
                        <h3 style="text-align: center;">Evka</h3>
                    </div>
                </div>

                <div class="hidden-element-first add-hidden-first pick-date-container">
                    <h2 class="h2-margin-top-bottom">{% trans 'Vyberte Dátum' %}:</h2>
                    <div class="calendar" id="calendar"></div>
                    <input type="date" id="date" class="insert-date-add-truck" onchange="pickDate()" readonly>
                </div>    

                <div class="hidden-element-second add-hidden-second">
                    <hr class="hr-basic-style">
                    <h2 style="text-align: center;" class="h2-margin-top-bottom">{% trans 'Vyberte začiatok masáže' %}:</h2>
                    <div id="time-slot-container" class="time-slot-container"></div>
                </div>    

                <hr class="hr-basic-style hidden-element-third add-hidden-third">
                <h2 class="h2-margin-top-bottom hidden-element-third add-hidden-third" id="choose-duration-h2">{% trans 'Vyberte dĺžku masáže' %}:</h2>
                <div class="row-container duration-container" id="duration-container">
                    <div class="big-button option-button-time hidden-element-third add-hidden-third" data-time="30" data-name="30 min masáž">30 min - 25€</div>
                    <div class="big-button option-button-time hidden-element-third add-hidden-third" data-time="45" data-name="45 min masáž">45 min - 30€</div>
                    <div class="big-button option-button-time hidden-element-third add-hidden-third roman-only-button" onclick="openSmSystemMessage()" data-time="45" data-name="45 min SM systém">{% trans '45 min SM individuálne cvičenie' %}</div>
                    <div class="big-button option-button-time hidden-element-third add-hidden-third" data-time="60" data-name="60 min masáž">60 min - 35€</div>
                    <div class="big-button option-button-time hidden-element-third add-hidden-third" data-time="90" data-name="90 min masáž">90 min - 60€</div>
                    <div class="big-button option-button-time hidden-element-third add-hidden-third roman-only-button" data-time="90" data-name="90 min masáž + SM systém">{% trans '90 min masáž + SM systém - 60€' %}</div>
                    <div class="big-button option-button-time hidden-element-third add-hidden-third" data-time="120" data-name="120 min masáž">120 min - 80€</div>
                </div>

                <div class="hidden-element-fourth add-hidden-fourth">
                    <hr class="hr-basic-style">
                    <div class="column-container">
                        <div class="row-container input-container-reservation">
                            <label for="name_surname">
                                {% trans 'Meno a Priezvisko' %}<span class="required">*</span>:
                            </label>
                            <input type="text" id="name_surname" name="name_surname" value="{% if request.user.is_authenticated and not request.user.is_superuser%}{{ user.name }} {{ user.surname }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="email">
                                Email<span class="required email-required">*</span>:
                            </label>
                            <input type="email" id="email" name="email" value="{% if request.user.is_authenticated and not request.user.is_superuser%}{{ user.email }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="phone">
                                {% trans 'Telefónne číslo' %}<span class="required phone-required">*</span>:
                            </label>
                            <input type="text" id="phone" name="phone" value="{% if request.user.is_authenticated and not request.user.is_superuser and user.phone_number %}{{ user.phone_number }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="note">
                                {% trans 'Poznámka' %}:
                            </label>
                            <input type="text" id="note" name="note">
                        </div>
                        <p>{% trans 'Polia označené * sú povinné' %}</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        var userOptions = {{ user_data|safe }};
    </script>
    <script src="{% static 'scripts/reservation.js' %}"></script>
{% endblock %}