{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <title>{% trans 'Rezervácia' %}</title>
{% endblock %}

{% block content %}

    <style>
        #calendar {
            width: 60%;
            height: 450px;
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
        }
        .fc-header-toolbar { /* Target the entire header toolbar */
          font-size: 0.8rem; /* Reduce font size */
        }

        .fc-left button, .fc-right button { /* Target buttons on left and right */
          padding: 5px 8px; /* Reduce button padding */
        }

        .fc-daygrid-day { /* Target the day cell class */
          font-size: 15px !important; /* Adjust font size as needed */
        }

        .fc-daygrid-day {
            transition: 0.2s;
        }

        .fc-day:hover {
            cursor: pointer;
        }

        .fc-day-past:hover {
            cursor: not-allowed;
        }

        .custom-day-class {
            background-color: #bebebe;
        }

        .fc-col-header-cell {
            background-color: white;
        }

        .custom-day-class:hover {
            cursor: not-allowed;
        }

        .fc-col-header-cell {
            font-size: 15px;
        }

        .fc-daygrid-day-number {
          margin: auto;
          font-size: 18px;
        }

        .fc-daygrid-day-frame {
            height: 50px;
        }

        .fc-daygrid-day.fc-day-today {
            background-color: #bebebe !important;
        }

    </style>

    {% include 'navbar.html' %}
    <div class="top-margin-reservation"></div>

    <div class="column-container">
        <h1>{% trans 'Rezervácia' %}</h1>

        <div class="reservation-box-container">
            <div id="reservation-box-container" class="column-container">

                <h2>{% trans 'Vyberte si maséra' %}:</h2>
                <div id="person-selection" class="row-container" style="gap: 50px; margin-top: 0px;">
                    <div>
                        <h3 style="text-align: center;">Roman</h3>
                        <div id="Roman" class="big-button option-button-person" style="border-radius: 50%;" onclick="updateEvents('Roman')">
                            <img title="Roman" class="miniature-img" src="{% static 'images/roman-mini.jpg' %}">
                        </div>
                    </div>
                    <div>
                        <h3 style="text-align: center;">Evka</h3>
                        <div id="Evka" class="big-button option-button-person" style="border-radius: 50%;" onclick="updateEvents('Evka')">
                            <img title="Evka" class="miniature-img" src="{% static 'images/evka-mini.jpg' %}">
                        </div>
                    </div>
                </div>

                <h2 class="hidden-element-first">{% trans 'Vyberte Dátum' %}:</h2>
                <div class="calendar hidden-element-first" id="calendar"></div>
                <input type="date" id="date" class="insert-date-add-truck hidden-element-first" onchange="pickDate()" readonly>

                <h2 style="text-align: center;" class="hidden-element-timeSlots add-hidden-timeSlots">{% trans 'Vyberte začiatok masáže' %}:</h2>
                <div id="time-slot-container" class="hidden-element-timeSlots add-hidden-timeSlots time-slot-container"></div>

                <hr class="hidden-element-second add-hidden-second hr-basic-style">

                <h2 class="hidden-element-second add-hidden-second" id="choose-duration-h2">{% trans 'Vyberte dĺžku masáže' %}:</h2>
                <div class="row-container duration-container" id="duration-container">
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="30">30 min - 20€</div>
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="45">45 min - 28€</div>
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="60">60 min - 35€</div>
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="90">90 min - 50€</div>
                    <div class="hidden-element-second add-hidden-second big-button option-button-time" id="120">120 min - 65€</div>
                </div>

                <hr class="hidden-element-third add-hidden-third hr-basic-style">

                <div class="hidden-element-third add-hidden-third">
                    <div class="column-container">
                        <div class="row-container input-container-reservation">
                            <label for="name_surname">
                                {% trans 'Meno a Priezvisko' %}<span class="required">*</span>:
                            </label>
                            <input type="text" id="name_surname" name="name_surname" value="{% if request.user.is_authenticated and not request.user.is_superuser%}{{ user.name }} {{ user.surname }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="email">
                                Email<span class="required email-required">*</span>:
                            </label>
                            <input type="email" id="email" name="email" value="{% if request.user.is_authenticated and not request.user.is_superuser%}{{ user.email }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="phone">
                                {% trans 'Telefónne číslo' %}<span class="required phone-required">*</span>:
                            </label>
                            <input type="text" id="phone" name="phone" value="{% if request.user.is_authenticated and not request.user.is_superuser and user.phone_number %}{{ user.phone_number }}{% endif %}">
                        </div>
                        <div class="row-container input-container-reservation">
                            <label for="note">
                                {% trans 'Poznámka' %}:
                            </label>
                            <input type="text" id="note" name="note">
                        </div>
                        <p>{% trans 'Polia označené * sú povinné' %}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        var userOptions = {{ user_data|safe }};
    </script>
    <script src="{% static 'scripts/reservation.js' %}"></script>
{% endblock %}