{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <title>Nastavenia</title>
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="top-margin-reservation"></div>

    <div class="container-settings-tables">
        <div class="table-container-settings">
            <h2>Nastavenia - Roman</h2>
            <table class="table-settings">
                <tbody>
                    <tr>
                        <td><label for="days_ahead_roman">Koĺko dní od dnes sa môžu ľudia rezervovať </label></td>
                        <td><input type="number" id="days_ahead_roman" value="{{ days_ahead_roman }}"></td>
                        <td><button class="btn" onclick="saveDaysAhead('roman', 'days_ahead_roman')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Pondelok:</td>
                        <td>
                            <select id="start_time_roman_monday" name="start_time_monday"></select>
                            <select id="end_time_roman_monday" name="end_time_monday"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('roman', 'start_time_roman_monday', 'end_time_roman_monday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Utorok:</td>
                        <td>
                            <select id="start_time_roman_tuesday" name="start_time_tuesday"></select>
                            <select id="end_time_roman_tuesday" name="end_time_tuesday"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('roman', 'start_time_roman_tuesday', 'end_time_roman_tuesday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Streda:</td>
                        <td>
                            <select id="start_time_roman_wednesday" name="start_time_wednesday"></select>
                            <select id="end_time_roman_wednesday" name="end_time_wednesday"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('roman', 'start_time_roman_wednesday', 'end_time_roman_wednesday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Štvrtok:</td>
                        <td>
                            <select id="start_time_roman_thursday" name="start_time_thursday"></select>
                            <select id="end_time_roman_thursday" name="end_time_thursday"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('roman', 'start_time_roman_thursday', 'end_time_roman_thursday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Piatok:</td>
                        <td>
                            <select id="start_time_roman_friday" name="start_time_friday"></select>
                            <select id="end_time_roman_friday" name="end_time_friday"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('roman', 'start_time_roman_friday', 'end_time_roman_friday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Sobota:</td>
                        <td>
                            <select id="start_time_roman_saturday" name="start_time_saturday"></select>
                            <select id="end_time_roman_saturday" name="end_time_saturday"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('roman', 'start_time_roman_saturday', 'end_time_roman_saturday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Nedeľa:</td>
                        <td>
                            <select id="start_time_roman_sunday" name="start_time_sunday"></select>
                            <select id="end_time_roman_sunday" name="end_time_sunday"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('roman', 'start_time_roman_sunday', 'end_time_roman_sunday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Ktoré dni pracujem:</td>
                        <td id="working_days_container_roman"></td>
                        <td><button class="btn" onclick="saveWorkingDays('roman')">Uložiť</button></td>
                    </tr>
                </tbody>
            </table>
            <h2>Nastavenia - Evka</h2>
            <table class="table-settings">
                <tbody>
                    <tr>
                        <td><label for="days_ahead_roman">Koĺko dní od dnes sa môžu ľudia rezervovať </label></td>
                        <td><input type="number" id="days_ahead_evka" value="{{ days_ahead_evka }}"></td>
                        <td><button class="btn" onclick="saveDaysAhead('evka', 'days_ahead_evka')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Pondelok:</td>
                        <td>
                            <select id="start_time_evka_monday" name="start_time_monday_evka"></select>
                            <select id="end_time_evka_monday" name="end_time_monday_evka"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('evka', 'start_time_evka_monday', 'end_time_evka_monday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Utorok:</td>
                        <td>
                            <select id="start_time_evka_tuesday" name="start_time_tuesday_evka"></select>
                            <select id="end_time_evka_tuesday" name="end_time_tuesday_evka"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('evka', 'start_time_evka_tuesday', 'end_time_evka_tuesday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Streda:</td>
                        <td>
                            <select id="start_time_evka_wednesday" name="start_time_wednesday_evka"></select>
                            <select id="end_time_evka_wednesday" name="end_time_wednesday_evka"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('evka', 'start_time_evka_wednesday', 'end_time_evka_wednesday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Štvrtok:</td>
                        <td>
                            <select id="start_time_evka_thursday" name="start_time_thursday_evka"></select>
                            <select id="end_time_evka_thursday" name="end_time_thursday_evka"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('evka', 'start_time_evka_thursday', 'end_time_evka_thursday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Piatok:</td>
                        <td>
                            <select id="start_time_evka_friday" name="start_time_friday_evka"></select>
                            <select id="end_time_evka_friday" name="end_time_friday_evka"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('evka', 'start_time_evka_friday', 'end_time_evka_friday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Sobota:</td>
                        <td>
                            <select id="start_time_evka_saturday" name="start_time_saturday_evka"></select>
                            <select id="end_time_evka_saturday" name="end_time_saturday_evka"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('evka', 'start_time_evka_saturday', 'end_time_evka_saturday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Nedeľa:</td>
                        <td>
                            <select id="start_time_evka_sunday" name="start_time_sunday_evka"></select>
                            <select id="end_time_evka_sunday" name="end_time_sunday_evka"></select>
                        </td>
                        <td><button class="btn" onclick="saveTimeRange('evka', 'start_time_evka_sunday', 'end_time_evka_sunday')">Uložiť</button></td>
                    </tr>
                    <tr>
                        <td>Ktoré dni pracujem:</td>
                        <td id="working_days_container_evka"></td>
                        <td><button class="btn" onclick="saveWorkingDays('evka')">Uložiť</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-container-settings">
            <h2>Obmedzenia</h2>
            <table class="table-settings">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all-checkbox" style="cursor: pointer;"></th>
                        <th>Masér</th>
                        <th>Dátum</th>
                        <th>Celý deň</th>
                        <th>Od do</th>
                        <th><button class="btn" onclick="addTurnedOffDay()">Pridať</button></th>
                    </tr>
                </thead>
                <tbody>
                    {% for turned_off_day in turned_off_days_data %}
                        <tr>
                            <td><input type="checkbox" value="{{ turned_off_day.id }}" class="turned-off-day-checkbox" style="cursor: pointer;"></td>
                            <td>{{turned_off_day.worker}}</td>
                            <td>{{turned_off_day.date}}</td>
                            <td>{% if turned_off_day.whole_day %}<i class="fa-duotone fa-solid fa-circle-check"></i>{% else %}<i class="fa-duotone fa-solid fa-circle-xmark"></i>{% endif %}</td>
                            <td>{{turned_off_day.time_range}}</td>
                            <td>
                                <button class="deactivate-btn" onclick="cancelOffDay('{{ turned_off_day.id }}')">Zrušiť</button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="hidden-initially" id="cancel-all-days-tr">
                        <td colspan="5" class="hidden-initially" id="cancel-all-days-td" style="border: none;">
                            <button class="deactivate-btn" onclick="cancelOffDays()">Zrušiť označené</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        var workingDaysRoman = '{{working_days_roman}}';

        var startingSlotHourRomanMonday = '{{starting_slot_hour_roman_monday}}';
        var endingSlotHourRomanMonday = '{{ending_slot_hour_roman_monday}}';
        var startingSlotHourRomanTuesday = '{{starting_slot_hour_roman_tuesday}}';
        var endingSlotHourRomanTuesday = '{{ending_slot_hour_roman_tuesday}}';
        var startingSlotHourRomanWednesday = '{{starting_slot_hour_roman_wednesday}}';
        var endingSlotHourRomanWednesday = '{{ending_slot_hour_roman_wednesday}}';
        var startingSlotHourRomanThursday = '{{starting_slot_hour_roman_thursday}}';
        var endingSlotHourRomanThursday = '{{ending_slot_hour_roman_thursday}}';
        var startingSlotHourRomanFriday = '{{starting_slot_hour_roman_friday}}';
        var endingSlotHourRomanFriday = '{{ending_slot_hour_roman_friday}}';
        var startingSlotHourRomanSaturday = '{{starting_slot_hour_roman_saturday}}';
        var endingSlotHourRomanSaturday = '{{ending_slot_hour_roman_saturday}}';
        var startingSlotHourRomanSunday = '{{starting_slot_hour_roman_sunday}}';
        var endingSlotHourRomanSunday = '{{ending_slot_hour_roman_sunday}}';

        var workingDaysEvka = '{{working_days_evka}}';

        var startingSlotHourEvkaMonday = '{{starting_slot_hour_evka_monday}}';
        var endingSlotHourEvkaMonday = '{{ending_slot_hour_evka_monday}}';
        var startingSlotHourEvkaTuesday = '{{starting_slot_hour_evka_tuesday}}';
        var endingSlotHourEvkaTuesday = '{{ending_slot_hour_evka_tuesday}}';
        var startingSlotHourEvkaWednesday = '{{starting_slot_hour_evka_wednesday}}';
        var endingSlotHourEvkaWednesday = '{{ending_slot_hour_evka_wednesday}}';
        var startingSlotHourEvkaThursday = '{{starting_slot_hour_evka_thursday}}';
        var endingSlotHourEvkaThursday = '{{ending_slot_hour_evka_thursday}}';
        var startingSlotHourEvkaFriday = '{{starting_slot_hour_evka_friday}}';
        var endingSlotHourEvkaFriday = '{{ending_slot_hour_evka_friday}}';
        var startingSlotHourEvkaSaturday = '{{starting_slot_hour_evka_saturday}}';
        var endingSlotHourEvkaSaturday = '{{ending_slot_hour_evka_saturday}}';
        var startingSlotHourEvkaSunday = '{{starting_slot_hour_evka_sunday}}';
        var endingSlotHourEvkaSunday = '{{ending_slot_hour_evka_sunday}}';
    </script>
    <script src="{% static 'scripts/settings_view.js' %}"></script>
{% endblock %}