body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

.top-margin-homepage {
    margin-top: 170px;
}

.top-margin-reservation {
    margin-top: 130px;
}

.reservation-box-container {
    width: 85%;
    padding: 30px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.insert-date-add-truck {
    font-size: 25px;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.miniature-img {
    border-radius: 50%;
    width: 100px;
}

#calendar {
    width: 60%;
    height: 450px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.highlight-cell {
  background-color: rgba(0, 128, 255, 0.2); /* Change this color as needed */
}

.hidden-element-first, .hidden-element-second, .hidden-element-third, .hidden-element-timeSlots {
    display: none;
}

.input-container-reservation {
    margin: 5px;
}

.input-container-reservation label {
    width: 250px;
    font-size: 24px;
    font-weight: bold;
}

.input-container-reservation input {
    font-size: 25px;
    padding: 5px;
}

.finish-reservation-button {
    margin: 20px;
    padding: 20px 120px;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.hr-basic-style {
    width: 95%;
    border: 1px solid grey;
    margin: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 150px;
    cursor: pointer;
}

#spolupraca {
    width: 80%;
    margin: auto;
}

.contact-container {
    display: flex;
    align-items: center; /* Vertically center the child elements */
    justify-content: center; /* Horizontally center the child elements */
    font-size: 18px;
    background-color: white;
    width: 100%;
    height: 200px;
    margin: 0;
}

.contact-info {
    text-align: center;
    max-width: 90%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background: white;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 8000;
}

.navbar-content {
  max-width: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.navbar-user-info {
    position: absolute;
    top: 35px;
    right: 130px;
    font-size: 19px;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    padding: 0px;
}

.avatar-user-icon {
    font-size: 20px;
    border: none;
    background-color: #e5e5e5;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 0;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.avatar-user-icon:hover {
    scale: 1.15;
}

#dropdown-menu {
    position: absolute;
    top: 85px;
    right: 3px;
    width: 200px;
    font-size: 18px;
    transition: 0.3s;
    text-align: right;
}

.toggle-password {
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    margin-top: 15px;
}

.navbar-user-info:hover #dropdown-menu {
    display: block; /* Show dropdown on hover */
}

.navbar-button {
  text-decoration: none;
  color: black;
  margin: 12px;
  font-size: 18px;
  transition: 0.3s;
  display: flex;
}

.pre-firmy {
    width: 145px;
}

.navbar-button:hover {
  scale: 1.3;
}

/* Style the social icons and phone info on the right side */
.nav-contact {
  display: flex;
  align-items: center;
}

.fa-square-facebook,
.fa-instagram {
    transition: 0.3s;
}

.fa-square-facebook:hover,
.fa-instagram:hover {
    scale: 1.3;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 30px;
}

.switch-language-button {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    transition: 0.3s;
    margin-bottom: 2px;
    margin-left: 0px;
}

.switch-language-button:hover {
    scale: 1.3;
    cursor: pointer;
}

.dropdown {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
    z-index: 999;
}

.dropdown-item {
    margin-bottom: 5px;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-link:hover {
    background-color: #ddd;
}

#technique {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swal2-popup {
    width: auto;
    padding: 30px 60px;
    max-width: 95%;
}

.swal-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swal-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h1-slogan,
#spolupraca h1,
#gallery h1,
#technique h1,
#poukazka h1{
    font-family: 'Luminari', fantasy;
    text-align: center;
    font-size: 35px;
}

.h1-slogan {
    font-size: 28px;
    font-family: 'Luminari', fantasy;
}

.name-surname {
    font-family: 'Luminari', fantasy;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.name-surname .social-icons {
    font-size: 40px;
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.technique-list {
    font-family: 'Roboto', sans-serif;
    margin-left: 80px;
    font-size: 18px;
}

.technique-segment {
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin: 40px;
  text-align: center;
}

.technique-segment p{
    width: 70%;
}

.reservation-button-about-us {
    padding: 15px 30px;
    border: 2px solid black;
    border-radius: 3px;
    transition: 0.3s;
    background-color: #e5e5e5;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 30px;
    width: 40%;
    text-align: center;
    margin: 40px;
}

.reservation-button-about-us:hover {
    background-color: #c9c9c9;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.summary p {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
    transition-delay: 0.5s;
}

.about-us-container {
    display: flex;
    margin: auto;
    width: 85%;
}

.person-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 50%;
}

.person-container img {
    border-radius: 50%;
    margin-bottom: 20px;
}

#spolupraca h3 {
    font-weight: normal;
}

#spolupraca h1{
    margin-bottom: 100px;
}

.evka-image {
    width: 45%;
}

.roman-image {
    width: 45%;
}

#gallery {
    margin-top: 100px;
    margin-bottom: 100px;
}

#spolupraca {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 150px;
}

.gallery-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-container img {
    width: calc(32% - 80px);
    height: 500px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 10%;
    cursor: zoom-in;
}

.gallery-container-poukazka {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.voucher-download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 20px);
}

.voucher-download-container img {
    height: 400px;
    width: 97%;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 3%;
    cursor: zoom-in;
}

.modal {
    position: relative;
    display: none;
    position: fixed;
    z-index: 9000;
    top: 0;
    right: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    max-height: 80%;
}

.download-button {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.download-button i{
    font-size: 25px;
    margin-left: 10px;
}

.download-button:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.container-settings-tables {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.table-container-settings {
    width: 47%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container-profile {
    width: 95%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container-settings h2, .table-container-profile h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
}

.table-settings {
    width: 100%;
    border-collapse: collapse;
}

.table-profile {
    width: 100%;
    text-align: left;
}

.table-settings td, .table-settings th {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table-settings th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.table-settings input[type="number"],
.table-settings input[type="text"],
.table-settings input[type="time"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-settings .btn,
.table-settings .deactivate-btn,
.table-profile .deactivate-btn {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.table-settings .btn:hover,
.table-settings .deactivate-btn:hover,
.table-profile .deactivate-btn:hover {
    background-color: #003d80;
}

.table-settings .deactivate-btn,
.table-profile .deactivate-btn {
    background-color: #dc3545;
}

.table-settings .deactivate-btn:hover,
.table-profile .deactivate-btn:hover {
    background-color: #c82333;
}

.fa-duotone.fa-circle-check {
    color: #28a745;
}

.fa-duotone.fa-circle-xmark {
    color: #dc3545;
}

.day-button {
    margin: 2px;
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.day-button.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.option-button-person, .option-button-time, .time-slot-select {
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: all 0.3s ease; /* Transition for smoothness */
    cursor: pointer;
}

/* Hover effect */
.option-button-person:hover, .option-button-time:hover, .finish-reservation-button:hover, .time-slot-select:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
    border-color: #ccc; /* Change border color on hover */
    transform: scale(1.05); /* Slight scale up on hover */
}

/* Style for selected buttons */
.option-button-person.selected, .option-button-time.selected {
    background-color: #007BFF; /* Change background color when selected */
    color: white; /* Change text color when selected */
    border-color: #0056b3; /* Change border color when selected */
    transform: scale(1.1); /* Slightly larger scale for selected buttons */
}

.big-button {
    padding: 20px;
    margin: 10px 0;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

.big-button.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.option-button.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emp-table {
    width: 98%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin-top: 60px;
    padding: 10px;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.table-top-tr-no-background {
    color: black;
    background-color: white;
}

.table-second-tr-with-background {
    background-color: #244b90;
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.searching-input-table {
    width: 98%;
    height: 30px;
    border-radius: 5px;
    margin: auto;
}

.add-employee-th-table-button {
    color: white;
    cursor: pointer;
    background-color: #309d30;
    padding: 5px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
}

.add-employee-th-table-button:hover {
    background-color: #247324;
    color: white;
    text-decoration: none;
}

.emp-table tbody td {
    padding: 8px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.action-button {
    background-color: #244b90;
    color: white;
    border: none;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
}

.action-button:hover {
    opacity: 0.8;
}

.emp-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.emp-table tbody tr:hover {
    background-color: #ddd;
}

.paginator {
    position: absolute; /* Ensures it's positioned relative to its closest positioned ancestor */
    width: 98%; /* Width of the paginator */
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the content horizontally */
    margin: 0 auto;
    top: 110px; /* Aligns it relative to the top of the page */
    left: 50%; /* Moves it to the center of the page */
    transform: translateX(-50%); /* Offsets it back by 50% of its width to ensure true centering */
    font-family: Arial, sans-serif;
    margin-top: 40px; /* Space from the top of the page */
    margin-bottom: 20px; /* Space from the bottom of the paginator (not effective when using margin-top and transform) */
}

.paginator-button {
    margin: 0px 3px;
    padding: 5px 10px;
}

.paginator .current-page {
    font-weight: bold;
    margin: 0 10px;
}

.paginator button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.paginator button:focus {
    outline: none;
}

.employee-count {
    margin-left: auto; /* Pushes the employee count span to the right */
    font-weight: normal;
}

.add-employee-button {
  width: 250px;
  padding: 10px 50px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
  margin: 10px;
  margin-top: 30px;
}

.add-employee-button:hover,
.settings-save-button:hover {
  background-color: #e5e5e5;
}

.add-employee-link {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.add-employee-link:hover {
    color: #244b90;
    text-decoration: underline;
}

.ordering-link {
    color: black;
    font-size: 20px;
    margin-left: 4px;
}

.ordering-link:hover {
    color: black;
    text-decoration: underline;
}

.container {
  max-width: 800px;
}

.card-header {
    background-color: #244b90;
    color: white;
}

.styled-checkbox {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem; /* Adjust padding to match btn-outline-info */
    border-radius: 0.25rem; /* Match the button's border-radius */
    cursor: pointer;
}

.styled-checkbox input[type="checkbox"] {
    margin-right: 0.5rem;
    margin-left: 0.25rem; /* Adjust margin to move the checkbox to the right */
    cursor: pointer;
}

.styled-checkbox label {
    cursor: pointer;
}

.styled-checkbox:hover {
    background-color: #244b90;
    color: white;
}

.ccsi-image-navbar {
    width: 50px;
}

.swal-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swal-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal-group label {
    width: 100px;
    margin-bottom: 0px;
}

.swal2-input {
    flex: 1;
    margin-bottom: 18px;
}

.nav-link {
    cursor: pointer;
}

.btn {
    background-color: #cbd3e8;
    color: black;
}

.btn:hover {
    background-color: #244b90;
    color: white;
}

.swal2-popup {
    width: auto;
    padding: 30px 60px;
    max-width: 95%;
}

.hidden-initially {
    visibility: hidden;
}

.cancel-filter-button {
    background-color: #ff808ef7;
    color: black;
    transition: 0.3s;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute; /* Ensures it's positioned relative to its closest positioned ancestor */
    top: 110px; /* Aligns it relative to the top of the page */
    left: 570px; /* Moves it to the center of the page */
    transform: translateX(-50%); /* Offsets it back by 50% of its width to ensure true centering */
    font-family: Arial, sans-serif;
    margin-top: 40px; /* Space from the top of the page */
    margin-bottom: 20px; /* Space from the bottom of the paginator (not effective when using margin-top and transform) */
}

.cancel-filter-button:hover {
    background-color: #d13041;
    color: white;
}

@media screen and (max-width: 500px) {

    .person-container {
        width: 100%;
    }

    .evka-image {
        width: 50%;
    }

    .roman-image {
        width: 50%;
    }

    .h1-slogan,
    #spolupraca h1,
    #gallery h1,
    #technique h1,
    #poukazka h1{
        font-size: 20px;
    }

    .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      height: 120px;
      background: white;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .pre-firmy {
        width: 100px;
        margin-left: 80px;
    }

    #spolupraca h3 {
        font-weight: normal;
        font-size: 13px;
    }

    .navbar-button {
      text-decoration: none;
      color: black;
      margin: 2px;
      font-size: 10px;
      transition: 0.3s;
    }

    .social-icons {
      display: flex;
      align-items: center;
      margin: 5px;
    }

    .logo-image {
        width: 110px;
        margin-right: 30px;
    }

    .summary h2{
        font-size: 18px;
    }

    .contact-container {
        display: flex;
        align-items: center; /* Vertically center the child elements */
        justify-content: center; /* Horizontally center the child elements */
        font-size: 12px;
        background-color: white;
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
    }

    .contact-container p{
        margin: 0px;
        padding: 2px;
    }

    .name-surname {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .technique-list {
        margin-left: 40px;
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .name-surname .social-icons {
        font-size: 20px;
        margin-left: 8px;
    }

    .social-icons a {
      text-decoration: none;
      color: black; /* Set your preferred icon color */
      font-size: 30px;
      margin: 0;
    }

    .social-icons img {
        font-size: 18px;
    }

    .reservation-button-about-us {
        padding: 10px 20px;
        font-size: 20px;
        width: 60%;
        text-align: center;
        margin: 20px;
    }

    .switch-language-button {
      color: black;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: 0.3s;
    }

    .switch-language-button img {
        width: 25px;
    }

    .about-us-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
    }
    .technique-segment {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start; /* Align items at the start of the flex container */
        padding: 10px;
    }

    .gallery-container img {
        width: 40%; /* Adjust width to fit two images in a row */
        height: 130px;
        margin: 15px;
        box-sizing: border-box;
        border-radius: 10%;
        cursor: zoom-in;
    }

    .gallery-container-poukazka {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .voucher-download-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(70% - 5px);
    }

    .voucher-download-container img {
        height: 130px;
        width: 92%;
        margin: 15px;
        box-sizing: border-box;
        border-radius: 10%;
        cursor: zoom-in;
    }

    .download-button {
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: bold;
        transition: 0.3s;
    }

    .download-button i{
        font-size: 17px;
        margin-left: 10px;
    }
}


@media screen and (max-width: 1500px) {
    .gallery-container img,
    .voucher-download-container img{
        height: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .gallery-container img,
    .voucher-download-container img{
        height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .gallery-container img,
    .voucher-download-container img {
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .gallery-container img,
    .voucher-download-container img {
        height: 150px;
    }
}